.bg {
    background-image: url('../../../assets/ai.webp');
    height: 100dvh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    inset: 0;
    z-index: 2;
}