.hero {
    height: 100dvh;
    background-image: url('../../assets/headset.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: -10;
}


.lighting {
    background-image: linear-gradient(#00EEFF, #0c0c1d);
    filter: blur(300px);
}

.stroke {
    color: #000;
    -webkit-text-stroke: 2px var(--acc-clr);
}

.name {
    font-family: var(--fm);
}


.section {
    position: relative;
}