.hero {
    height: calc(100vh - 100px);
    background-image: linear-gradient(180deg, #0c0c1d, #111132);
    display: grid;
    grid-template-areas: 'stack';
    overflow: hidden;
    font-family: var(--fm);
}

.name {
    font-family: var(--fm);
}


.hero>* {
    grid-area: stack;
}

.section {
    position: relative;
}

.mockup {
    transform: translate(-50%, 0);
    opacity: .7;
}