/* .burger {
    width: 2.5rem;
    height: 5vh;
    position: relative;
    border-radius: 50px;
    background-color: var(--bg-clr);
}

.burger::before,
.burger::after,
.close::before,
.close::after {
    content: '';
    position: absolute;
    inset: -0.1rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), var(--clr-3), var(--clr-2), var(--clr-1), var(--clr-2), var(--clr-3));
    border-radius: inherit;
    opacity: .6;
    transition: .3s ease;
}

.burger:hover::before,
.burger:hover::after {
    background: conic-gradient(from var(--gradient-angle), #BC6FF1, #892CDC, #52057B, #892CDC, #BC6FF1);
    animation: rotation 3s linear infinite;
    opacity: 1;
}

.burger::after {
    filter: blur(.4rem)
}


.burger:hover::after {
    filter: blur(1rem)
} */


.paint {
    contain: paint;
}