@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --bg-clr: #0c0c1d;
  --accent-clr: #d3d3d3;
  /* for gradient */
  --clr-1: #52057B;
  --clr-2: #892CDC;
  /*clr-2 is used for shadows*/
  --clr-3: #BC6FF1;
  --clr-4: rgb(190, 112, 242, 0.15);
  --clr-5: rgb(190, 112, 242, 0.7);
  --fm: 'OnePiece-zAqL', sans-serif;
  /* --fm: 'Open Sans', sans-serif; */
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fm);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-clr);
  color: var(--accent-clr);
}

section {
  height: 100dvh;
  scroll-snap-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}