@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: var(--fm);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bkg1);
}

@layer base {
  :root {
    --color-bkg1: 233deg 70% 12%;
    --color-bkg2: 233deg, 65%, 15%;
    --color-text: 269deg 100% 95%;
    --accent: 271deg, 81%, 56%;
  }
}

.transition {
  transition: all .3s ease-in-out;
}


/* set the default theme to dark mode */
/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* Dark Mode */
/* --color-bkg1: 233deg 70% 12%;
    --color-bkg2: 233deg 65% 15%;
    --color-text: 269deg 100% 95%;
    --accent1: 271deg 81% 56%; */
/* } */
/* } */

:root[data-theme="dark"] {
  --color-bkg1: 233deg 70% 12%;
  --color-bkg2: 233deg 65% 15%;
  --color-text: 269deg 100% 95%;
  --accent: 271deg 81% 56%;
}

:root[data-theme="light"] {
  --color-bkg1: 210deg 20% 98%;
  --color-bkg2: 220deg 14% 96%;
  --color-text: 224deg 71% 4%;
  --accent: 271deg 81% 56%;
}